<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% if error is defined and error is not empty %}
            <div class="alert alert-danger mt-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="flex flex-row min-h-screen justify-center items-center">
            <div class="grid grid-cols-1 gap-6">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>

                    <label class="block mt-3">
                        <span class="text-gray-700">Email</span>
                        <input
                            type="email"
                            class="form-control mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                            value="{{ last_username }}"
                            name="_username"
                            id="username"
                            autocomplete="email"
                            required autofocus />
                    </label>

                    <label class="block mt-3">
                        <span class="text-gray-700">Password</span>
                        <input
                            type="password"
                            class="form-control mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                            value="{{ last_username }}"
                            name="_password"
                            id="password"
                            autocomplete="current-password"
                            required />
                    </label>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <input type="checkbox" name="_remember_me" id="_remember_me">
                            <label for="_remember_me">Remember me</label>
                        </div>
                    #}

                    <button class="block rounded-md px-3 py-3 text-white bg-blue-700 mt-3" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </body>
</html>
